<!-- Call to Action -->
<div class="border-top">
<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y text-center text-uppercase align-center">
    <div class="small-12 medium-12 cell text-center">
       <h5 class="margin-bottom-0"><a href="mailto:{{site.email}}">{{site.email}}</a></h4>
       <h5 class="margin-bottom-0"><a href="tel:{{site.phoneNumber}}">{{site.phoneNumber}}</a></h4>
    </div>
  </div>
</div>
</div>
<!-- End Call to Action -->