<div class="grid-y align-center loader hide">
  <div class="shrink cell">
    <div class="grid-x grid-padding-x grid-padding-y align-center">
      <div class="small-11 cell text-center">
        <div class="display">Since '73</div>
{#
<div class="display">
<ul class="no-bullet display align-center" id="cyclelist">
  <li>Since '73</li>
  <li>H.264</li>
  <li>Annex</li>
</ul>
</div>
#}

      </div>
    </div>
  </div>
</div>