<div class="full reveal tertiary-background-color" id="overlayNavigation" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
  <div class="grid-x align-center-middle" style="height: 100%">
    <div class="shrink cell">

      <ul class="vertical menu text-center">
        <li><a href="/work" class="text-uppercase h4" data-toggle="overlayNavigation">Work</a></li>
        <li><a href="/talent" class="text-uppercase h4" data-toggle="overlayNavigation">Talents</a></li>
        <li><a href="/about" class="text-uppercase h4" data-toggle="overlayNavigation">About</a></li>
        <li><a href="/contact" class="text-uppercase h4" data-toggle="overlayNavigation">Contact</a></li>
      </ul>
  
      <div class="shrink cell text-center">
       <ul class="menu align-center">
          {% for block in socials.socials.all() %}
          {% switch block.type %}
            {% case "instagram" %}
              <li class="padding-left"><a href="{{block.socialLink}}" target="_blank"><svg class="icon icon-instagram"><use xlink:href="/assets/icons/symbol-defs.svg#icon-instagram"></use></svg></a></li>
            {% case "vimeo" %}
              <li><a href="{{block.socialLink}}" target="_blank"><svg class="icon icon-vimeo"><use xlink:href="/assets/icons/symbol-defs.svg#icon-vimeo"></use></svg></a></li>
          {% endswitch %}
          {% endfor %}
        </ul>
      </div>

    </div>
  </div>
</div>