@font-face {
  font-family: 'Druk Wide Medium';
  src: 
  url('../fonts/druk-wide-medium.woff2') format('woff2'), 
  url('../fonts/druk-wide-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ITC Garamond Std Book Condensed';
  src: 
  url('../fonts/itc-garamond-std-bk-cond.woff2') format('woff2'), 
  url('../fonts/itc-garamond-std-bk-cond.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Haas Grot Disp 65 Medium';
  src: 
  url('../fonts/neue-haas-grot-disp-65-medium.woff2') format('woff2'), 
  url('../fonts/neue-haas-grot-disp-65-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Now Text Medium';
  src: 
  url('../fonts/helvetica-now-text-medium.woff2') format('woff2'), 
  url('../fonts/helvetica-now-text-medium.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Now Text Bold';
  src: 
  url('../fonts/helvetica-now-text-bold.woff2') format('woff2'), 
  url('../fonts/helvetica-now-text-bold.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}